@import url(./comment/comment.css);

@import url(./comment/comment__author.css);

@import url(./comment/comment__image.css);

@import url(./comment/comment__qa.css);

@import url(./comment/comment__quote.css);

.comments__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 296px);
    justify-content: space-between;
    margin: 0 48px;
}

@media screen and (max-width : 769px) {
    .comments__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: center;
        align-items: center;
        width: 382px;
        margin: 0 auto 0;
    }
}

@media screen and (max-width : 376px) {
    .comments__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: center;
        align-items: center;
        margin: 0 auto 0;
    }  
}
