@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 14px;
    max-width: 100%;
    justify-content: space-between;
    margin: 102px 48px 137px;
}

@media screen and (max-width : 1025px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    } 
}

@media screen and (max-width : 769px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, 352px);
        justify-content: center;
        margin: 102px 24px 10px;
    }
}

@media screen and (max-width : 376px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
        margin: 67px 16px 10px;
    }
}

@media screen and (max-width : 321px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    }
}