@import url(./fonts/fonts/inter.css);

html {
    background: #2A2C2F;

}

.page {
    margin: 0 auto;
    max-width: 1024px;
}

.header {
    margin: 30px 48px 0;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_place_header {

}

.header__lang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__lang_ru {
    text-decoration-line: underline;
    margin-right: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
}

.header__lang_ru:hover {
    opacity: 0.5;
    text-decoration-color: cornflowerblue;
    transition-property: opacity;
    transition-property: text-decoration-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

.header__lang_en {
    margin-right: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__lang_en:hover {
    opacity: 0.5;
    text-decoration-color: cornflowerblue;
    transition-property: opacity;
    transition-property: text-decoration-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

.lead {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.lead__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;

}

.lead__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 46px 0 0;
}

.lead__subtitle_ {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.lead__images {
    max-width: 100%;
    margin: 65px 48px 0;
}

.lead__caption {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 48px;
}


.intro__title {
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 59px;
color: #FFFFFF;
margin-left: 48px;
}

.intro__text {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
margin: 0;
color: #FFFFFF;
margin-left: 48px;
max-width: 692px;
}

.intro__content_row {
    margin-bottom: 24px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 14px;
    max-width: 100%;
    justify-content: space-between;
    margin: 102px 48px 100px;
}

.photo-grid__item {
    width: 300px;
    height: 200px;
}

.places {
    margin-left: 0 48px 48px 0;
}

.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, 440px);
    justify-content: space-around;
    grid-row-gap: 60px;
    margin-bottom: 60px;
}

.place__website {
    align-items: end;
    justify-items: start;
}

.place__website_url-heading {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
margin: 0;
color: #AAAAAA;;
}

.place__website_url {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
text-decoration-line: underline;
margin: 0;
color: #FFFFFF;
}

.place__website_url:hover {
        opacity: 0.5;
        text-decoration-color: cornflowerblue;
        transition-property: opacity;
        transition-property: text-decoration-color;
        transition-duration: 0.7s;
        transition-timing-function: linear;
}

.place__title {
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 65px;
max-width: 440px;
color: #FFFFFF;
margin: 0;
}

.place__paragraph {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
max-width: 456px;
color: #FFFFFF;
margin: 0 0 24px;
}

.place__paragraph__ {
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.place__image {
width: 440px;
height: 440px;
}

.content-title {
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 78px;
text-align: center;
color: #FFFFFF;
margin: 0;
}

.content-titles {
    margin-top: 102px;
}

.content-subtitle {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;
text-align: center;
color: #FFFFFF;
margin: 0;
}

.content-subtitles {
    margin-top: 48px;
    margin-bottom: 73px;
}

.video_container {
display: grid;
grid-template-columns: repeat(auto-fit, 456px);
justify-content: center;
grid-column-gap: 16px;
margin: 0 48px;
}

.video__item {
    max-width: 456px;
height: 288px;
margin: 4px 0;
}

.video__item:hover {
    opacity: 0.2;
    background-color: black;
    transition-property: opacity;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}



.comments__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 296px);
    justify-content: space-between;
    margin: 0 48px;
    
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 296px;
}

.comment__image {
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.comments__qa {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0;
}

.comment__quote {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
margin-top: 42px;
color: #FFFFFF;
}

.comment__author {
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 24px;
margin-top: 17px;
color: #FFFFFF;
}

.cover-bg {
    width: 100%;
   
}

.cover {
    min-width: 100%;
    min-height: 562px;
    background-size: cover;
    background-position: center;
    background-image: url(Image.jpg);
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 102px;
}

.cover__title {
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 78px;
text-align: center;
color: #FFFDFD;
margin: 0;
z-index: 1;
}

.overlay_black {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, .5);
z-index: 0;
transition: background-color linear .3s;
}

.cover__titles {
    position: relative;
    top: 10px;
}

.cover__subtitle {
    position: relative;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
text-align: center;
max-width: width: 413px;;
color: #FFFFFF;
z-index: 1;
margin: 0;
}

.cover:hover {
    opacity: 0.7;
    background-color: #2A2C2F;
    transition-property: opacity;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

.cover__subtitles {
    position: relative;
    top: 150px;
}

.cover__link {
    text-decoration: none;
}

.footer {
    margin: 105px 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footer__links {

}

.footer__link {font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 41px;
text-decoration: none;
color: #FFFFFF; 
margin-right: 18px;
}

.footer__link:hover {
    opacity: 0.5;
    text-decoration-color: cornflowerblue;
    transition-property: opacity;
    transition-property: text-decoration-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

.footer__copyright {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: right;

color: #FFFFFF;
}

















@media screen and (max-width : 769px) {

    .page {
        margin: 0 auto;
        max-width: 768px;
    }

    .header {
        margin: 30px 24px 0;
    }

    .lead__caption {
        width: 100%;
    }
    
.intro__title {
margin-left: 24px;
}

.intro__text {
margin-left: 24px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 352px);
    grid-gap: 14px;
    max-width: 100%;
    justify-content: space-between;
    margin: 102px 24px 100px;
}

.photo-grid__item {
    width: 352px;
    height: 234px;
}

    .lead__images {
        max-width: 100%;
        margin: 65px 0 0;
    }

    .places {
        margin: 0 24px;
    }

    .place {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        justify-content: space-around;
        grid-row-gap: 28px;
        margin-bottom: 60px;
    }
    
    .place__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        
        color: #FFFFFF;
        margin: 0;
    }
    
    .place__paragraph {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        
        color: #FFFFFF;
    margin: 0 0 24px;
    }
    
    .place__paragraph__ {
        display: flex;
        flex-direction: column;
        justify-content: left;
    
    }
    
    .place__image {
    max-width: 340px;
    max-height: 340px;
    }

    .video_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 352px);
        justify-content: center;
        grid-column-gap: 16px;
        margin: 0 24px;
        }
        
        .video__item {
            width: 352px;
            height: 200px;
        margin: 4px 0;
        }

       

.comments__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0 193px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 382px;
}

.comment__image {
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

.comments__qa {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0;
}

.comment__quote {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
margin-top: 42px;
color: #FFFFFF;
}

.comment__author {
    font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 14px;
line-height: 24px;
margin-top: 17px;
color: #FFFFFF;
text-align: center;
}
        
        .footer {
            margin: 105px 48px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            margin-bottom: 29px;
        }
        
        .footer__links {
        
        }
        
        .footer__link {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 27px;
        color: #FFFFFF; 
        margin-right: 18px;
        }
        
        .footer__copyright {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: right;
        color: #FFFFFF;
        margin: 0;
        }
        
    
}













@media screen and (max-width : 415px) {

    .lead__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
        margin: 0;
    }

    .lead__subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin: 18px 0 0;
    }
    
    .lead__subtitle_ {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
    }

    .intro__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
    margin-left: 16px;
    }

    .content-title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    }
    
    .content-titles {
        margin-top: 102px;
    }
    
    .content-subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    }
    
    .content-subtitles {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .place__website {
        display: none;
    }

    .cover__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    z-index: 1;
    }

       
    .cover__titles {
        position: relative;
        top: 10px;
    }
    
    .cover__subtitle {
        position: relative;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
    z-index: 1;
    margin: 0;
    }
    
    .cover__subtitles {
        position: relative;
        top: 50px;
    }
    
    .footer {
        margin: 64px 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
    
    }
    
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .footer__link {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 41px;
        color: #FFFFFF;        
    }
    
    .footer__copyright {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
}





















@media screen and (max-width : 376px) {
    .page {
        margin: 0 auto;
        max-width: 375px;
    }

    .header {
        margin: 30px 16px 0;
    }

    .header__lang_ru {
        text-decoration-line: underline;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 96.82%;
        text-align: right;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
    
    .header__lang_en {
        margin-right: 18px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 96.82%;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .lead__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
        margin: 0;
    }
    
    .lead__subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin: 18px 0 0;
    }
    
    .lead__subtitle_ {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
    }
    
    .lead__images {
        max-width: 100%;
        margin-top: 31px;
    }
    
    .lead__caption {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 16px;
    }
    
    
    .intro__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
    margin-left: 16px;
    }
    
    .intro__text {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #FFFFFF;
    margin-left: 16px;
    max-width: 343px;
    }
    
    .intro__content_row {
        margin-bottom: 24px;
    }
    
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
        grid-gap: 14px;
        max-width: 100%;
        justify-content: space-between;
        margin: 102px 16px 100px;
    }
    
    .photo-grid__item {
        max-width: 343px;
        max-height: 232px;
    }
    
    .places {
        margin: 0;
    }
    
    .place {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: space-around;
        margin-bottom: 60px;
    }

    .place__website {
        display: none;
    }
    
    .place__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
    margin: 0 16px;
    }
    
    
    .place__paragraph {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #FFFFFF;
    margin: 0 16px 24px;
    }
    
    .place__paragraph__ {
        display: flex;
        flex-direction: column;
        justify-content: left;
    
    }
    
    .place__image {
        max-width: 100%;
    }
    
    .content-title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    }
    
    .content-titles {
        margin-top: 102px;
    }
    
    .content-subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    }
    
    .content-subtitles {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .video_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 343px);
    justify-content: center;
    grid-column-gap: 16px;
    margin: 0 16px;
    }
    
    .video__item {
        max-width: 343px;
    height: 200px;
    margin: 4px 0;
    }
    
    .comments__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 343px;
    }
    
    .comment__image {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        margin-top: 20px;
    }
    
    .comments__qa {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .comment__quote {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
    }
    
    .comment__author {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
            
    
    .cover-bg {
        width: 100%;
       
    }
    
    .cover {
        min-width: 100%;
        min-height: 272px;
        background-size: cover;
        background-position: center;
        background-image: url(Image.jpg);
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
    }
    
    .cover__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    z-index: 1;
    }

       
    .cover__titles {
        position: relative;
        top: 10px;
    }
    
    .cover__subtitle {
        position: relative;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
    z-index: 1;
    margin: 0;
    }
    
    .cover__subtitles {
        position: relative;
        top: 50px;
    }
    
    .overlay_black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
    transition: background-color linear .3s;
    }
    
    .cover__link {
        text-decoration: none;
    }
    
    .footer {
        margin: 64px 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
    
    }
    
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .footer__link {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 41px;
        color: #FFFFFF;        
    }
    
    .footer__copyright {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
    
}



















@media screen and (max-width : 321px) {
    .page {
        margin: 0 auto;
        max-width: 320px;
    }

    .header {
        margin: 30px 16px 0;
    }

    .header__lang_ru {
        text-decoration-line: underline;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 96.82%;
        text-align: right;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
    
    .header__lang_en {
        margin-right: 18px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 96.82%;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .lead__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
        margin: 0;
    }
    
    .lead__subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin: 18px 0 0;
    }
    
    .lead__subtitle_ {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
    }
    
    .lead__images {
        max-width: 100%;
        margin-top: 31px;
    }
    
    .lead__caption {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 16px;
    }
    
    
    .intro__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
    margin-left: 16px;
    }
    
    .intro__text {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #FFFFFF;
    margin-left: 16px;
    max-width: 288px;
    }
    
    .intro__content_row {
        margin-bottom: 24px;
    }
    
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        grid-gap: 14px;
        max-width: 100%;
        justify-content: space-between;
        margin: 102px 16px 100px;
    }
    
    .photo-grid__item {
        max-width: 288px;
        max-height: 192px;
    }
    
    .places {
        margin: 0;
    }
    
    .place {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: space-around;
        margin-bottom: 60px;
    }
    
    .place__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #FFFFFF;
    margin: 0 16px;
    }
    
    
    .place__paragraph {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        color: #FFFFFF;
    margin: 0 16px 24px;
    }
    
    .place__paragraph__ {
        display: flex;
        flex-direction: column;
        justify-content: left;
    
    }
    
    .place__website {
        display: none;
    }

    .place__image {
        max-width: 100%;
    }
    
    .content-title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    }
    
    .content-titles {
        margin-top: 102px;
    }
    
    .content-subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    }
    
    .content-subtitles {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .video_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 288px);
    justify-content: center;
    grid-column-gap: 16px;
    margin: 0 16px;
    }
    
    .video__item {
        max-width: 288px;
    height: 192px;
    margin: 4px 0;
    }
    
    .comments__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    .comment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 288px;
    }
    
    .comment__image {
        width: 98px;
        height: 98px;
        border-radius: 50%;
        margin-top: 20px;
    }
    
    .comments__qa {
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        flex-wrap: wrap;
        margin: 0;
    }
    
    .comment__quote {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        color: #FFFFFF;
    }
    
    .comment__author {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
            
    
    .cover-bg {
        width: 100%;
       
    }
    
    .cover {
        min-width: 100%;
        min-height: 216px;
        background-size: cover;
        background-position: center;
        background-image: url(./images/Image.jpg));
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
    }
    
    .cover__title {
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
    margin: 0;
    z-index: 1;
    }
    
    .overlay_black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 0;
    transition: background-color linear .3s;
    }
    
    .cover__titles {
        position: relative;
        top: 10px;
    }
    
    .cover__subtitle {
        position: relative;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
    z-index: 1;
    margin: 0;
    }
    
    .cover__subtitles {
        position: relative;
        top: 30px;
    }
    
    .cover__link {
        text-decoration: none;
    }
    
    .footer {
        margin: 64px 16px 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
    
    }
    
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    
    .footer__link {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 41px;
        color: #FFFFFF;        
    }
    
    .footer__copyright {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }
    
}



