.comment {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 296px;
}

@media screen and (max-width : 769px) {
    .comment {
        flex-wrap: wrap;
        width: 382px;
    }
}

@media screen and (max-width : 376px) {
    .comment {
        flex-wrap: wrap;
        max-width: 343px;
    }
}

@media screen and (max-width : 321px) {
    .comment {
        flex-wrap: wrap;
        width: 288px;
    }
}