.comment__image {
    width: 98px;
    height: 98px;
    border-radius: 50%;
}

@media screen and (max-width : 376px) {
    .comment__image {
    margin-top: 20px;
    }
}

@media screen and (max-width : 321px) {
    .comment__image {
    margin-top: 20px;
    }
}