.header__lang_ru {
    text-decoration-line: underline;
    margin-right: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;
    color: #FFFFFF;
}

.header__lang_ru:hover {
    opacity: 0.5;
    text-decoration-color: cornflowerblue;
    transition-property: opacity;
    transition-property: text-decoration-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

@media screen and (max-width : 376px) {

   .header__lang_ru {
        text-decoration-line: underline;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 96.82%;
        text-align: right;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
}

@media screen and (max-width : 321px) {
    .header__lang_en {
        margin-right: 18px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 96.82%;
        color: #FFFFFF;
        text-decoration: underline;
    }
}