.place__url {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    margin: 0;
    color: #FFFFFF;
    }
    
.place__url:hover {
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    }