.cover__overlay-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 44, 47, 0.3);
    z-index: 0;
    transition: background-color linear .3s;
}

.cover__overlay-black:hover {
    opacity: 0.8;
    background-color: #2A2C2F;
    transition-property: opacity;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}