.video__item {
    max-width: 456px;
height: 288px;
margin: 4px 0;
}

.video__item:hover {
    opacity: 0.2;
    background-color: black;
    transition-property: opacity;
    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}

@media screen and (max-width : 769px) {
    .video__item {
        width: 352px;
        height: 200px;
        margin: 4px 0;
    }
}

@media screen and (max-width : 376px) {
    .video__item {
        max-width: 343px;
    height: 200px;
    margin: 4px 0;
    }
}

@media screen and (max-width : 321px) {
    .video__item {
        max-width: 288px;
    height: 192px;
    margin: 4px 0;
    }
}