.footer__links {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

@media screen and (max-width : 767px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
}
