html {
    background: #2A2C2F;
}

.page {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 320px;
}

@media screen and (max-width : 769px) {
    .page {
        margin: 0 auto;
        max-width: 768px;
    }
}


@media screen and (max-width : 376px) {
    .page {
        margin: 0 auto;
        max-width: 375px;
    }
}



@media screen and (max-width : 321px) {
    .page {
        margin: 0 auto;
        max-width: 320px;
    }
}
