@import url(./__link/cover__link.css);

@import url(./__subtitle/cover__subtitle.css);

@import url(./__title/cover__title.css);

@import url(./__overlay-black/cover__overlay-black.css);


.cover {
    min-height: 594px;
    background-size: cover;
    background-position: center;
    background-image: url(../../images/Image.jpg);
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 102px 48px 0;
}


@media screen and (max-width : 1025px) {
    .cover {
        min-width: 100%;
        min-height: 562px;
        margin: 102px 0 0;
    }
}


@media screen and (max-width : 769px) {
    .cover {
        min-width: 100%;
        min-height: 500px;
        margin: 48px 0 0;
    }
}

@media screen and (max-width : 376px) {
    .cover {
        min-width: 100%;
        min-height: 272px;
    }
}

@media screen and (max-width : 321px) {
    .cover {
        min-width: 100%;
        min-height: 216px;
    }
}
