.intro__content_row {
    font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
margin: 0;
color: #FFFFFF;
margin: 0 0 24px 48px;
max-width: 692px;
}

@media screen and (max-width : 769px) {
    .intro__content_row {
        margin: 0 0 24px 24px;
        max-width: 720px;
    }
}

@media screen and (max-width : 376px) {
    .intro__content_row {
        font-size: 16px;
        line-height: 27px;
        margin: 0 0 24px 16px;
        max-width: 343px;
    }
}

@media screen and (max-width : 321px) {
    .intro__content_row {
        max-width: 288px;
    }
}