.cover__title {
    position: absolute;
    top: 274px;
    left: 0;
    right: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
    margin: 0 auto 0;
    z-index: 1;
}

@media screen and (max-width : 1025px) {
    .cover__title {
        max-width: 570px;
        top: 211px;
    }
}

@media screen and (max-width : 767px) {
    .cover__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        max-width: 250px;
        top: 185px;
    }
}

@media screen and (max-width : 376px) {
    .cover__title {
        top: 104px;
    }
}

@media screen and (max-width : 321px) {
    .cover__title {
        top: 64px;
    }
}