
@import url(./__image/place__image.css);

@import url(./__paragraph/place__paragraph.css);

@import url(./__paragraphs/place__paragraphs.css);

@import url(./__title/place__title.css);

@import url(./__website/place__website.css);

@import url(./__url/place__url.css);

@import url(./__url-heading/place__url-heading.css);


.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, 460px);
    justify-content: space-between;
    grid-row-gap: 40px;
    margin: 60px 0 0;
}

@media screen and (max-width : 10279px) {
    .place {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
        justify-content: space-between;
    }
}

@media screen and (max-width : 1023px) {
    .place {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        justify-content: space-around;
    }
}

@media screen and (max-width : 767px) {
    .place {
        display: grid;
        grid-template-columns: 375px;
        justify-content: center;
    }
}

@media screen and (max-width : 374px) {
    .place {
        display: grid;
        grid-template-columns: 320px;
        justify-content: center;
    }
}