@import url(./__copyright/footer__copyright.css);

@import url(./__links/footer__link.css);

.footer {
    margin: 105px 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
