.place__url {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
    margin: 0;
    color: #FFFFFF;
    align-self: start;
    justify-self: start;
}
    
.place__url:hover {
    opacity: 0.8;
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: linear;
}
