.video_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 456px);
    justify-items: center;
    grid-column-gap: 16px;
    margin: 0 48px;
}

@media screen and (max-width : 769px) {
    .video_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(343px, 352px));
        margin: 0 24px;
        }
}

@media screen and (max-width : 376px) {
    .video_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(288px, 343px));
        margin: 0 16px;
        }
}

@media screen and (max-width : 321px) {
    .video_container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 288px);
        }
}