.video__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 583px);
    justify-content: space-between;
    grid-column-gap: 16px;
    margin: 0 48px;
}


@media screen and (max-width : 1279px) {
    .video__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(352px, 456px));
    }
}

@media screen and (max-width : 1023px) {
    .video__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(343px, 352px));
        margin: 0 24px;
    }
}

@media screen and (max-width : 767px) {
    .video__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(288px, 343px));
        justify-content: center;
        margin: 0 16px;
    }
}

@media screen and (max-width : 374px) {
    .video__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 288px);
    }
}